<!DOCTYPE html>
<html> 
    
    <h1 class="title">Cipher Encryption/Decryption</h1>

    <div class="form-wrapper">
        <%= form_with url: process_kripto_path, method: 'post', local: true, data: {turbo: false} do |form| %>
            <%= hidden_field_tag :text_cache, params[:text], id: 'text_cache' %>
            <%= hidden_field_tag :key_cache, params[:key],  id: 'key_cache' %>
            <div class="field-container">
                <div class="label-container">
                <%= label_tag :input_type, 'Input Type:' %>
                </div>
                <div class="input-container">
                <%= select_tag :input_type, options_for_select([['Text', 'text'], ['File', 'file']], selected: params[:input_type]), id: 'input_text_select' %>
                </div>
            </div>
            
            <div class="field-container" id="dynamic_input_text_container">
                <div class="label-container">
                    <%= label_tag :text, 'Input Text:' %>
                </div>
                <div class="input-container">
                    <%= text_area_tag :text, params[:text], class: 'plain-text', id: 'text_input' %>
                </div>
            </div>

            <div class="field-container">
                <div class="label-container">
                <%= label_tag :cipher, 'Cipher:' %>
                </div>
                <div class="input-container">
                <%= select_tag :cipher, options_for_select([['Vigenere Cipher', 'vigenere1'], 
                                                            ['Auto-Key Vigenere Cipher', 'vigenere2'], 
                                                            ['Extended Vigenere Cipher', 'vigenere3'],
                                                            ['Playfair Cipher', 'playfair'],
                                                            ['Affine Cipher', 'affine'],
                                                            ['Hill Cipher', 'hill'],
                                                            ['Super Encryption', 'super']
                                                            ], selected: params[:cipher]), id: 'input_key_select' %>
                </div>
            </div>
            <div id="dynamic_key_container">
                <div class="field-container">
                    <div class="label-container">
                    <%= label_tag :key, 'Key:' %>
                    </div>
                    <div class="input-container">
                    <%= text_area_tag :key, params[:key], class: 'key-text', id: 'key_input' %>
                    </div>
                </div>
            </div>
            <div class="field-container buttons-container">
                <%= button_tag(name: 'button_pressed', value: 'encrypt', type: 'submit') do %>
                    Encrypt
                <% end %>
                <div class="spacer"></div>
                <%= button_tag(name: 'button_pressed', value: 'decrypt', type: 'submit') do %>
                    Decrypt
                <% end %>
            </div>
            <% if @result %>
            <div class="field-container result-container">
                <div class="label-container">
                    <%= label_tag :result, 'Result:' %>
                </div>
                <div class="output-container">
                    <%=text_area_tag :result, @result, class: 'result-text', readonly: true %>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>
</html>